@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
   background: #f5f5f5;
   margin: 0;
   font-family: 'Raleway', sans-serif;
}

header {
    height: 115px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 176px;
    height: 50px;
}

.pesquisa {
    width: 393px;
    height: 40px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
}

.botaoLogin {
    width: 182px;
    height: 51px;
    left: 954px;
    top: 32px;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    color: #2A7AE4;
}

section {
    width: 100%;
    height: 352px;
    background:url(img/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoBanner {
    color: white;
    font-weight: 700;
    font-style: normal;
    padding-left: 152px;
    padding-top: 150px;
}

h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0;
}

.textoBanner>p {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 0;
}

.botaoBanner {
    width: 130px;
    height: 51px;
    left: 0px;
    top: 119px;
    background: #2a7ae4;
    color: white;
}

main {
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
}

.subTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    padding-bottom: 60px;  
}

h2>a {
    color: #2A7AE4;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoLinks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logoLinks>img {
    padding-right: 112px;
}

.listaLink {
    display: flex;
    flex-direction: column;
}

.listaLink>a {
    padding-bottom: 20px;
}

.listaFale {
    display: flex;
    flex-direction: column;
}

.listaFale>p {
    font-weight: 700;
    padding-bottom: 10px;
}

.listaFale>input {
    margin-bottom: 10px;
}

footer {
    background-color: #EAF2FD;
    width: 100%;
    height: 368px;
}

.footerNome {
    width: 560px;
    height: 52px;
}

.footerMsm {
    width: 560px;
    height: 75px;
}

.footerBtn {
    width: 165px;
    height: 51px;
    background: #2A7AE4;
    color: white;
}

.rodape {
    height: 102px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 778px) {
    .logo {
        width: 100px;
        height: 28px;
    }
    
    .pesquisa {
        width: 277px;
        height: 40px;
    }

    .botaoLogin {
        width: 166px;
        height: 40px;
    }

    section {
        background-position: center;
    }

    .textoBanner {
        padding-left: 32px;
        padding-top: 130px;
    }

    main {
        width: 90%;
    }

    ul>li>img {
        width: 164px;
    }

    .menuHide {
        display: none;
    }

    .container {
        width: 100%;
        height: 364px;
    }

    .logoLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logoLinks>img {
        padding: 0;
    }

    .footerNome {
        width: 434px;
        height: 52px;
    }
    
    .footerMsm {
        width: 434px;
        height: 52px;
    }
    
    .footerBtn {
        width: 151px;
        height: 40px;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        width: 100px;
        height: 28px;
    }
    
    .pesquisa {
        display: none;
    }

    .botaoLogin {
        width: 133px;
        height: 40px;
    }

    .textoBanner {
        padding-left: 16px;
        padding-top: 78px;
    }

    .listaProduto>ul {
        flex-wrap: wrap;
    }

    ul>li>img {
        width: 164px;
    }

    .menuHide {
        display: none;
    }

    footer {
        height: 553px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 553px;
    }

    .logoLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logoLinks>img {
        padding: 0;
    }

    .footerNome {
        width: 328px;
        height: 52px;
    }
    
    .footerMsm {
        width: 328px;
        height: 82px;
    }
    
    .footerBtn {
        width: 151px;
        height: 40px;
    }
}